<div class="contact-card-details-container">
  <h1>Extra Details</h1>
  <ul>
    <li>
      <span
        >ID: <span class="details">{{ extraDetailsCard.id }}</span></span
      >
    </li>
    <li>
      <span
        >First Name:
        <span class="details">{{ extraDetailsCard.firstName }}</span></span
      >
    </li>
    <li>
      <span
        >Last Name:
        <span class="details">{{ extraDetailsCard.lastName }}</span></span
      >
    </li>
    <li>
      <span
        >Phone Number:
        <span class="details">{{ extraDetailsCard.phoneNumber }}</span></span
      >
    </li>
    <li>
      <span
        >Home Address:
        <span class="details">{{ extraDetailsCard.homeAddress }}</span></span
      >
    </li>
  </ul>
</div>
