:host {
  padding: 20px;
  background-color: #c6c1ff;
  width: 30%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-card-details-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #c6c1ff;

  ul {
    list-style: inside;
    list-style-type: circle;

    li {
      .details {
        font-weight: 700;
      }
    }
  }
}

::ng-deep {
  .main-container {
    display: flex;
    align-items: center;
  }
}
