:host {
  padding: 20px;
  background-color: #c6c1ff;
  width: 80%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #c6c1ff;

  h1 {
    align-self: flex-start;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }

  .create-contact-buttons {
    width: 100%;
    gap: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

::ng-deep {
  .mat-mdc-form-field {
    flex-grow: 1;
  }

  .main-container {
    display: flex;
    align-items: center;
  }
}
