<div class="create-contact-container">
  <h1>Create Contact</h1>

  <form [formGroup]="contactForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Enter your First Name</mat-label>
      <input matInput formControlName="firstName" required />
      @if (contactForm.controls["firstName"].hasError('required')) {
      <mat-error>First Name Reqiured</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your Last Name</mat-label>
      <input matInput formControlName="lastName" required />
      @if (contactForm.controls["lastName"].hasError('required')) {
      <mat-error>Last Name Reqiured</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" required />

      @if (contactForm.controls["phoneNumber"].hasError('required')) {
      <mat-error>Phone Number Reqiured</mat-error>
      } @if (contactForm.controls["phoneNumber"].hasError('phoneNumberFormat'))
      {
      <mat-error>Phone Number invalid</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your Home Address</mat-label>
      <input matInput formControlName="homeAddress" required />
      @if (contactForm.controls["homeAddress"].hasError('required')) {
      <mat-error>Home Address Reqiured</mat-error>
      }
    </mat-form-field>

    <div class="create-contact-buttons">
      <button (click)="onCancel()" mat-raised-button color="secondary">
        Cancel
      </button>
      <button type="submit" mat-raised-button color="primary">Create</button>
    </div>
  </form>
</div>
