<div class="header-container">
  <div class="header-nav-menu">
    <mat-toolbar color="primary" class="header-nav-menu-items">
      <a routerLink="contact-list">
        <mat-icon
          class="material-symbols-outlined"
          fontIcon="import_contacts"
        ></mat-icon>
        Contact List
      </a>

      <a routerLink="create-contact">
        <mat-icon
          class="material-symbols-outlined"
          fontIcon="add_circle"
        ></mat-icon>
        Create Contact
      </a>
    </mat-toolbar>
  </div>
</div>
