.header-container {
  display: block;
  height: 80px;
  width: 100%;

  .header-nav-menu {
    a {
      cursor: pointer;
      display: flex;
      gap: 6px;
      align-items: center;
      color: white;

      mat-icon {
        color: white;
      }
    }

    a:first-child {
      max-height: 24px;
    }
  }
}
